@import "utilities.css";
/* -------------------------------- All color ------------------------------- */
:root {
  --primary: #ffe600;
  --dark: #000000;
  --pure: #fcfaf9;
  --secondary: #f74109;
  --light: #6588f2;
}

/* -------------------------------- All color ------------------------------- */
body {
  font-family: "Chakra Petch", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
header {
  background: var(--dark);
  height: 800px;
}
.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: lowercase;
  transition: all 0.5s;
}
header nav .left a:hover {
  color: var(--primary);
}
header nav {
  padding: 2rem 0;
}
header nav .branding {
  margin-right: 3rm;
}
.branding {
  margin-right: 1rem;
}
.btn {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 0.5ex;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.btn-primary{
  background:var(--primary);
  color: var(--secondary)

}
.btn-primary:hover {
  background: transparent;
  border-color: var(--primary);
  color: var(--primary);
}
